extends base

block content
  main.main    
   .reset-form
      h2.heading-secondary.ma-bt-lg Reset your password
      form.form.form--forgot
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          div.resetPassword A reset password email will be sent to you
        .form__group
          button.btn.btn--green send
